.button {
   background-color: $header-blue;
   border: none;
   color: white;
   display: inline-block;
   font-size: $font-size-large;
   font-weight: 300;
   padding: 1rem 1.5rem;
   line-height: 1;
   border-radius: 0.2rem;
   text-decoration: none;

   &--save {
      width: 17rem;

      &--expense {
         margin-bottom: 2rem;
         
         @media (max-width: $desktop-breakpoint) {
            margin-bottom: 1rem;
            text-align: center;
         }

      }
   }

   &--add {
      text-align: center;
      height: 50px;
      line-height: 1.5;
   }

   &--remove {
      width: 9rem;
      background-color: $light-red;
      margin-right: 1rem;
      font-size: $font-size-medium;
      font-weight: 500;

      @media (max-width: $desktop-breakpoint) {
         width: 100%;
         font-size: $font-size-large;
         font-weight: 300;
         margin-bottom: 1rem;
      }
   }
}

.button--link {
   background-color: transparent;
}

.button--secondary {
   background-color: #888888;
}

.button--add, .button--save, .button--remove, .button--back, .button--cancel, .button--save--expense{
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: all 0.3s ease;

   &:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   };

   @media (max-width: $desktop-breakpoint) {
      width: 100%;
   }
}

.button-list {
   height: 50px;
   display: flex;
   margin-bottom: $l-size;
   align-items: center;

   @media (min-width: $desktop-breakpoint) {
      justify-content: flex-end;
      margin-top: -2.5rem;
      align-items: center;
   }
}